{% extends 'base.html' %} 
{% load static %}
 {% block titulo %}  {% endblock %}
 
 {% block container %}

<header>
 <link rel="icon" href="{% static 'assets/favicon.ico' %}" type="image/ico">
 <h2 class="lista">Gerador de receitas</h2>
</header>

<main class="container">
 <section id="balance">
   <h2 class="sr-only">Balanço</h2>

   <div class="card total">
     <h3>
       <span class="nome-usuario">Ola Rodrigo !</span>
     </h3>
     <h3>
     </h3>
   </div>
 </section>

 <section id="transaction">
   <h2 class="sr-only">Lista Tarefas</h2>

   <a onclick="Modal.open()" class="button new">+ Cadastrar medicamento</a>
   
   <form onsubmit="generate_receipt(event)">
    <div>
   <table id="data-table">
     <thead>
       <tr>
         <th>Titulo</th>
         <th>Nome</th>
         <th>Via</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
          {% for medicamento in medicamentos %}
       <tr>
         <td class="verde">{{ medicamento.titulo }}</td>
         <td class="description">{{ medicamento.nome }}</td>
         <td class="date">{{ medicamento.via }}</td>
         <td>
             <input type="checkbox" id="selected_remedy_{{medicamento.id}}">
         </td>
       </tr>
        {% endfor %}

     </tbody>
   </table>
   <button type="submit">GERAR</button>
  </form>
  {% if medicamentos_selecionados %}
  <div id="results" style=
  "background-color: white; 
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;">

    {% regroup medicamentos_selecionados by via as medicamentos_agrupados %}
    
    {% for medicamento in medicamentos_agrupados %}
      <h1>USO {{ medicamento.grouper }}</h1>
      {% for x in medicamento.list %}
      <h3 style="float: left;">{{ x.nome }}</h3> <h3>{{ x.quantidade }}</h3>
      <h3>{{ x.posologia }}</h3>
      <br>
      {% endfor %}

    {% endfor %}

  </div>

  <button style="margin-top: 10px; border-radius: 5px;" onclick="copiar()">COPIAR TEXTO</button>
  {% endif %}
  
 </section>
</main>

<div class="modal-overlay">
 <div class="modal">
   <div id="form">
     <h2>Novo Medicamento</h2>

     <form method="POST">
       {% csrf_token %}
       <div class="input-group">
         <label class="sr-only" for="description">Titulo</label>
            {{ form.titulo }}
       </div>

       <div class="input-group">
         <label class="sr-only" for="description">Nome/Dosagem</label>
            {{form.nome}}
       </div>

       <div class="input-group">
         <label class="sr-only" for="date">Posologia</label>
            {{form.posologia}}
       </div>

       <div class="input-group">
        <label class="sr-only" for="date">Quantidade</label>
           {{form.quantidade}}
      </div>

       <div class="input-group">
         <label class="sr-only" for="conteudo">Via</label>
            {{form.via}}
       </div>

       <div class="input-group actions">
         <a onclick="Modal.close()" class="button cancel">Cancelar</a>
         <button type="submit">Salvar</button>
       </div>
     </form>
     <!-- <a href="#" class="button cat">+ Cadastrar categoria</a> -->
   </div>
 </div>
</div>

<script>
  function generate_receipt(event){
    event.preventDefault()
    const checkboxes = document.querySelectorAll('[id^="selected_remedy"]')
    const checkedboxes = Array.from(checkboxes).filter(box => box.checked)
    const checkbox_id = checkedboxes.map(box => box.id.replace('selected_remedy_',''))
    window.location.replace(`?selected_remedies=${checkbox_id.toString()}`)
  }
</script>

<script>
  let text = document.getElementById('results').innerHTML;
  const copiar = async () => {
    try {
      await navigator.clipboard.writeText(text);
      console.log('Content copied to clipboard');
    } catch (err) {
      console.error('Failed to copy: ', err);
    }
  }
</script>


{% endblock %}